html{
	background: #2196f3;
	font-family: Arial;
}

body{
	width: 500px;
	margin: 0 auto;
}

h1{
	text-align: center;
	font-size: 70px;
}

.caixa-numero{
	margin: 10px;
}

label{
	font-size: 18px;
}

.resultado{
	font-size: 24px;
	background: #f7e560;
	border: 3px dotted black;
}

#n1, #n2 {
	padding: 10px;
	border-radius: 4px;
}

.botao{
	padding: 7px;
	border-radius: 10px;
}